main {
  max-width: 100%;
  margin: 0 auto;
  padding: 32px;
  color: #333;
}
.component-container{
  display: flex;
  align-items: baseline;
  justify-content: space-evenly
}
.weather-info{
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 24px;
  justify-content: baseline;
}

button{
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-self: center;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active {
  background-color: #006AE8;
}

button:hover {
  background-color: #1C84FF;
}
img{
 max-width: 5rem;
}
.profile{
  display: flex;
}
.info-container{
  display: block;
  max-width: 20rem;
}
.picture-container{
  align-self: center;
}
section {
  display: flex;
}

@media (max-width: 600px) {
  section {
    display: block;
  }
  .component-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

h3 {
  font-size: 1.2rem;
}

a {
  display: block;
  margin-top: 8px;
  margin-bottom: 32px;
  color: #333;
}

/* ToDo Component Styles */

.todo-input, .weather-input {
  font-size: 24px;
  border: none;
  width: 100%;
}

.todo-input:focus {
  outline: none;
}

.done {
  text-decoration: line-through;
}

.todo{
  margin: 32px 0px;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.checkbox {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  background: #d9d9d9;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  transition: all 300ms ease;
}

.delete {
  margin-left: 1.5rem;
  font-size: 16px;
  cursor: pointer;
}

.checkbox:hover, .delete:hover {
    opacity: 0.8;
  }

